# 数据清洗

In [2]:
import pandas as pd
import numpy as np

In [3]:
patients = pd.read_csv('D:\jupyter_notebook的代码\AA_TUM\Deep Reinforcement Learning\mimic-iv-clinical-database-demo-2.2\hosp\patients.csv')
patients

    subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0     10014729      F          21         2125       2011 - 2013         NaN
1     10003400      F          72         2134       2011 - 2013  2137-09-02
2     10002428      F          80         2155       2011 - 2013         NaN
3     10032725      F          38         2143       2011 - 2013  2143-03-30
4     10027445      F          48         2142       2011 - 2013  2146-02-09
..         ...    ...         ...          ...               ...         ...
95    10004733      M          51         2174       2014 - 2016         NaN
96    10021118      M          62         2161       2014 - 2016         NaN
97    10018501      M          83         2141       2014 - 2016         NaN
98    10007058      M          48         2167       2014 - 2016         NaN
99    10038992      M          70         2185       2014 - 2016         NaN

[100 rows x 6 columns]

In [4]:
#列名解释：
# subject id: 患者唯一标识码
# gender: 性别
# anchor_age: anchor year的年纪
# anchor_year_group: anchor year的真实范围
# dod: 死亡日期

In [5]:
admissions = pd.read_csv(r'D:\jupyter_notebook的代码\AA_TUM\Deep Reinforcement Learning\mimic-iv-clinical-database-demo-2.2\hosp\admissions.csv')
admissions

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10004235,24181354,2196-02-24 14:38:00,2196-03-04 14:02:00,NaN,URGENT,P03YMR,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,2196-02-24 12:15:00,2196-02-24 17:07:00,0
1,10009628,25926192,2153-09-17 17:08:00,2153-09-25 13:20:00,NaN,URGENT,P41R5N,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,?,MARRIED,HISPANIC/LATINO - PUERTO RICAN,NaN,NaN,0
2,10018081,23983182,2134-08-18 02:02:00,2134-08-23 19:35:00,NaN,URGENT,P233F6,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,MARRIED,WHITE,2134-08-17 16:24:00,2134-08-18 03:15:00,0
3,10006053,22942076,2111-11-13 23:39:00,2111-11-15 17:20:00,2111-11-15 17:20:00,URGENT,P38TI6,TRANSFER FROM HOSPITAL,DIED,Medicaid,ENGLISH,NaN,UNKNOWN,NaN,NaN,1
4,10031404,21606243,2113-08-04 18:46:00,2113-08-06 20:57:00,NaN,URGENT,P07HDB,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,10038992,24745425,2187-07-29 01:05:00,2187-08-03 17:02:00,NaN,SURGICAL SAME DAY ADMISSION,P41R5N,PHYSICIAN REFERRAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,MARRIED,WHITE,NaN,NaN,0
271,10008287,22168393,2145-09-28 01:17:00,2145-10-02 13:35:00,NaN,SURGICAL SAME DAY ADMISSION,P898NM,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,SINGLE,WHITE,NaN,NaN,0
272,10022880,27708593,2177-03-12 07:15:00,2177-03-19 14:25:00,NaN,SURGICAL SAME DAY ADMISSION,P99698,PHYSICIAN REFERRAL,HOME,Medicare,ENGLISH,MARRIED,WHITE,NaN,NaN,0
273,10004457,23251352,2141-12-17 11:00:00,2141-12-21 15:56:00,NaN,SURGICAL SAME DAY ADMISSION,P41R5N,PHYSICIAN REFERRAL,REHAB,Medicare,ENGLISH,SINGLE,OTHER,NaN,NaN,0
274,10004457,28108313,2147-12-19 00:00:00,2147-12-21 16:10:00,NaN,SURGICAL SAME DAY ADMISSION,P10WWR,PHYSICIAN REFERRAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,DIVORCED,WHITE,NaN,NaN,0

In [6]:
#列名解释：
# subject id: 患者唯一标识码
# hadm_id: 住院id
# admittime 住院时间
# dischtime 出院时间
# deathtime 死亡时间
# admission_type 住院类型
# hospital_expire_flag 1:为死亡 0：为存活

In [171]:
inputevents = pd.read_csv(r'D:\jupyter_notebook的代码\AA_TUM\Deep Reinforcement Learning\mimic-iv-clinical-database-demo-2.2\icu\inputevents.csv')
inputevents_vanco = inputevents[inputevents["itemid"] == 225798] # 选择万古霉素的给药数据
inputevents_vanco

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,amount,amountuom,...,ordercomponenttypedescription,ordercategorydescription,patientweight,totalamount,totalamountuom,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate
0,10005817,20626031,32604416,4793,2132-12-16 19:50:00,2132-12-16 19:51:00,2132-12-16 19:50:00,225798,1.0,dose,...,Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.0
1,10005817,20626031,32604416,92805,2132-12-15 20:15:00,2132-12-15 20:16:00,2132-12-15 20:11:00,225798,1.0,dose,...,Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.0
2,10005817,20626031,32604416,20310,2132-12-17 09:15:00,2132-12-17 09:16:00,2132-12-17 09:28:00,225798,1.0,dose,...,Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.0
3,10005817,20626031,32604416,79166,2132-12-16 09:36:00,2132-12-16 09:37:00,2132-12-16 09:37:00,225798,1.0,dose,...,Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.0
178,10005348,25239799,34629895,86518,2130-10-27 21:00:00,2130-10-27 21:01:00,2130-10-27 21:54:00,225798,1.0,dose,...,Main order parameter,Drug Push,69.0,200.0,ml,0,0,FinishedRunning,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20127,10020740,23831430,35044342,93282,2150-03-21 08:06:00,2150-03-21 08:07:00,2150-03-21 08:07:00,225798,1.0,dose,...,Main order parameter,Drug Push,103.0,250.0,ml,0,0,FinishedRunning,1.0,1.0
20128,10020740,23831430,35044342,35210,2150-03-19 08:00:00,2150-03-19 08:01:00,2150-03-19 08:35:00,225798,1.0,dose,...,Main order parameter,Drug Push,103.0,200.0,ml,0,0,FinishedRunning,1.0,1.0
20129,10020740,23831430,35044342,68979,2150-03-19 20:49:00,2150-03-19 20:50:00,2150-03-19 21:49:00,225798,1.0,dose,...,Main order parameter,Drug Push,103.0,200.0,ml,0,0,FinishedRunning,1.0,1.0
20130,10020740,23831430,35044342,68979,2150-03-20 20:27:00,2150-03-20 20:28:00,2150-03-20 20:27:00,225798,1.0,dose,...,Main order parameter,Drug Push,103.0,200.0,ml,0,0,FinishedRunning,1.0,1.0
20230,10003400,23559586,34577403,68979,2137-08-12 20:15:00,2137-08-12 20:16:00,2137-08-12 20:56:00,225798,1.0,dose,...,Main order parameter,Drug Push,90.5,200.0,ml,0,0,FinishedRunning,1.0,1.0

In [23]:
#列名解释：
# subject id: 患者唯一标识码
# hadm_id: 住院id
# stay_id: icu停留id
# starttime: 药物输入的时间
# endtime: 药物结输入结束时间，一般就很快，1min内结束注射。
# patientweight: 给药时记录的患者体重。这是 PK 研究中的关键状态变量，因为体重直接影响药物的分布容积。
# amount: 给药的总量。
# amountuom: 量的单位（如 mg, grams, ml）。
# rate: 输注速率。如果是持续滴注（如去甲肾上腺素），这一列非常重要；如果是间歇性推注，该值可能为空或特定数值。
# rateuom: 速率的单位（如 mg/kg/min, ml/hr）。

In [195]:
labevents = pd.read_csv(r'D:\jupyter_notebook的代码\AA_TUM\Deep Reinforcement Learning\mimic-iv-clinical-database-demo-2.2\hosp\labevents.csv')
target_ids = [51009, 50912, 51301, 51006]
lab_features = labevents[labevents["itemid"].isin(target_ids)].copy()
lab_features

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
3,172063,10014354,29600294.0,1808066,51301,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,20.3,20.3,K/uL,4.0,10.0,abnormal,ROUTINE,NaN
15,172090,10014354,29600294.0,43195817,51006,NaN,2148-08-16 00:00:00,2148-08-16 01:47:00,26,26.0,mg/dL,6.0,20.0,abnormal,ROUTINE,NaN
28,172080,10014354,29600294.0,43195817,50912,NaN,2148-08-16 00:00:00,2148-08-16 01:47:00,1.8,1.8,mg/dL,0.5,1.2,abnormal,ROUTINE,NaN
88,172590,10014354,26486158.0,78241917,50912,NaN,2148-08-24 00:00:00,2148-08-24 01:34:00,0.9,0.9,mg/dL,0.5,1.2,NaN,ROUTINE,NaN
90,172599,10014354,26486158.0,78241917,51006,NaN,2148-08-24 00:00:00,2148-08-24 01:34:00,10,10.0,mg/dL,6.0,20.0,NaN,ROUTINE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107664,473236,10040025,27876215.0,29795328,50912,NaN,2147-11-14 04:59:00,2147-11-14 06:18:00,2.4,2.4,mg/dL,0.4,1.1,abnormal,STAT,NaN
107667,473244,10040025,27876215.0,29795328,51006,NaN,2147-11-14 04:59:00,2147-11-14 06:18:00,76,76.0,mg/dL,6.0,20.0,abnormal,STAT,NaN
107672,473254,10040025,27876215.0,41625861,51301,NaN,2147-11-14 04:59:00,2147-11-14 05:34:00,9.8,9.8,K/uL,4.0,10.0,NaN,STAT,NaN
107695,561,10000032,25742920.0,6101561,50912,NaN,2180-08-07 00:59:00,2180-08-07 02:04:00,0.4,0.4,mg/dL,0.4,1.1,NaN,STAT,NaN
107697,567,10000032,25742920.0,6101561,51006,NaN,2180-08-07 00:59:00,2180-08-07 02:04:00,28,28.0,mg/dL,6.0,20.0,abnormal,STAT,NaN

In [8]:
#labevent_id: 每一行化验记录的唯一标识符。
#subject_id: 患者的唯一识别码。
#hadm_id: 关联的住院 ID。注意：部分门诊化验或急诊化验可能没有 hadm_id（显示为 NaN）。
#specimen_id: 样本 ID。一个样本（如一次抽血）可以进行多项测试，因此多个 labevent_id 可能对应同一个 specimen_id。
#charttime: 样本被采集（如抽血完成）的精确时间。在 PK 研究中，这是最关键的时间点，用于对齐给药后的浓度变化。
#valuenum: 以数值形式记录的结果值。在进行数学建模（如计算 $EC_{50}$）时，通常使用这一列。
#valueuom: 结果的单位（如 ug/mL, mg/dL）。
#ref_range_lower / ref_range_upper: 实验室给出的正常参考范围的下限和上限。

In [235]:
chartevents = pd.read_csv(r'D:\jupyter_notebook的代码\AA_TUM\Deep Reinforcement Learning\mimic-iv-clinical-database-demo-2.2\icu\chartevents.csv')
chart_ids = [223762,220179,220045] # 体温 收缩压 心率
chart_features = chartevents[chartevents["itemid"].isin(chart_ids)].copy()
chart_features

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
48,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-16 00:02:00,223762,37,37.0,°C,0.0
69,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-16 00:02:00,220045,80,80.0,bpm,0.0
102,10005817,20626031,32604416,6770.0,2132-12-16 01:00:00,2132-12-16 01:04:00,220045,82,82.0,bpm,0.0
103,10005817,20626031,32604416,6770.0,2132-12-16 01:00:00,2132-12-16 01:04:00,223762,37,37.0,°C,0.0
119,10005817,20626031,32604416,6770.0,2132-12-16 02:00:00,2132-12-16 02:11:00,223762,37.1,37.1,°C,0.0
...,...,...,...,...,...,...,...,...,...,...,...
668428,10019003,29279905,34107647,68979.0,2153-03-28 02:41:00,2153-03-28 02:56:00,220045,103,103.0,bpm,0.0
668458,10019003,29279905,34107647,47425.0,2153-03-31 10:43:00,2153-03-31 10:44:00,220179,99,99.0,mmHg,0.0
668708,10019003,29279905,34107647,68979.0,2153-03-28 02:56:00,2153-03-28 02:57:00,220045,100,100.0,bpm,0.0
668741,10019003,29279905,34107647,68979.0,2153-03-28 02:57:00,2153-03-28 02:57:00,220045,99,99.0,bpm,0.0
668745,10019003,29279905,34107647,68979.0,2153-03-28 02:57:00,2153-03-28 02:57:00,220179,118,118.0,mmHg,0.0

In [10]:
#subject_id: 患者的唯一标识符。
#hadm_id: 关联的住院 ID。
#stay_id: 最重要的关联 ID。它标识了单次进入 ICU 的记录，通过此 ID 可以将生命体征与 inputevents 中的给药动作在时间轴上精确对齐。
#itemid: 观测项目的编码。心率 (Heart Rate): 220045。收缩压 (Non-invasive SBP): 220179。呼吸频率 (Respiratory Rate): 220210。
#charttime: 监护仪显示或护士观察到该指标的精确时刻。在你的 4 小时轨迹研究中，这是对齐状态 $S_t$ 的基准。

In [11]:
icustays = pd.read_csv(r'D:\jupyter_notebook的代码\AA_TUM\Deep Reinforcement Learning\mimic-iv-clinical-database-demo-2.2\icu\icustays.csv')
icustays

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10018328,23786647,31269608,Neuro Stepdown,Neuro Stepdown,2154-04-24 23:03:44,2154-05-02 15:55:21,7.702512
1,10020187,24104168,37509585,Neuro Surgical Intensive Care Unit (Neuro SICU),Neuro Stepdown,2169-01-15 04:56:00,2169-01-20 15:47:50,5.452662
2,10020187,26842957,32554129,Neuro Intermediate,Neuro Intermediate,2170-02-24 18:18:46,2170-02-25 15:15:26,0.872685
3,10012853,27882036,31338022,Trauma SICU (TSICU),Trauma SICU (TSICU),2176-11-26 02:34:49,2176-11-29 20:58:54,3.766725
4,10020740,25826145,32145159,Trauma SICU (TSICU),Trauma SICU (TSICU),2150-06-03 20:12:32,2150-06-04 21:05:58,1.037106
...,...,...,...,...,...,...,...,...
135,10020786,23488445,33683112,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2189-06-09 12:46:30,2189-06-10 22:58:09,1.424757
136,10020740,23831430,35026312,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2150-03-11 15:34:56,2150-03-19 02:17:47,7.446424
137,10032725,20611640,30101877,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2143-03-22 06:42:00,2143-03-25 15:05:33,3.349687
138,10037928,24656677,39804682,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2178-12-21 06:05:18,2178-12-22 02:16:08,0.840856
139,10015931,22130791,37093652,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2177-03-24 21:48:07,2177-03-29 18:03:36,4.844086

In [12]:
#subject_id: 患者的唯一标识 ID。

#hadm_id: 单次住院的唯一标识 ID。

#stay_id: ICU 停留的唯一标识 ID。重要性： 在 chartevents 和 inputevents 中，你会大量用到 stay_id 来提取特定患者在那次 ICU 期间的生命体征和用药记录。

#intime: 患者进入 ICU 的精确时间。在强化学习中，这通常被设定为第 0 步（Step 0）的起始时间。

#outtime: 患者离开 ICU 的时间。

#los (Length of Stay): 患者在 ICU 停留的总天数（数值型）。

#筛选建议： 正如之前讨论的，你通常会筛选 los >= 1（即停留超过 24 小时）的病人，以确保有足够的观察窗口。

In [13]:
# 第一步,筛选 los >= 1（即停留超过 24 小时）的病人
print(icustays['los'].describe())
# 看看有多少病人的停留时间超过了你想要的 24 小时（1天）
long_stay_count = (icustays['los'] >= 1).sum()
print(f"停留超过24小时的病人数量: {long_stay_count}")

count    140.000000
mean       3.679379
std        3.896354
min        0.023727
25%        1.170663
50%        2.155093
75%        4.907749
max       20.528681
Name: los, dtype: float64
停留超过24小时的病人数量: 117

In [14]:
qualified_stays = icustays[icustays['los'] >= 1.0].copy()
qualified_stays

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10018328,23786647,31269608,Neuro Stepdown,Neuro Stepdown,2154-04-24 23:03:44,2154-05-02 15:55:21,7.702512
1,10020187,24104168,37509585,Neuro Surgical Intensive Care Unit (Neuro SICU),Neuro Stepdown,2169-01-15 04:56:00,2169-01-20 15:47:50,5.452662
3,10012853,27882036,31338022,Trauma SICU (TSICU),Trauma SICU (TSICU),2176-11-26 02:34:49,2176-11-29 20:58:54,3.766725
4,10020740,25826145,32145159,Trauma SICU (TSICU),Trauma SICU (TSICU),2150-06-03 20:12:32,2150-06-04 21:05:58,1.037106
5,10039708,23819016,38559363,Trauma SICU (TSICU),Trauma SICU (TSICU),2140-06-18 01:41:00,2140-06-19 21:47:16,1.837685
...,...,...,...,...,...,...,...,...
134,10003400,20214994,32128372,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2137-02-25 23:37:19,2137-03-10 21:29:36,12.911308
135,10020786,23488445,33683112,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2189-06-09 12:46:30,2189-06-10 22:58:09,1.424757
136,10020740,23831430,35026312,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2150-03-11 15:34:56,2150-03-19 02:17:47,7.446424
137,10032725,20611640,30101877,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2143-03-22 06:42:00,2143-03-25 15:05:33,3.349687
139,10015931,22130791,37093652,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2177-03-24 21:48:07,2177-03-29 18:03:36,4.844086

# 逐步联立表格

## 与inputevent联立 体重 药物输入时间 药物量 药物速率

In [172]:
# 1. 筛选目标药物记录 (以万古霉素 225798 为例)
#vanco_id = 225798
#df_vanco_input = inputevents[inputevents['itemid'] == vanco_id].copy()

# 2. 关联 intime (假设你已经有了白名单 qualified_stays)
inputevents_vanco = pd.merge(
    inputevents_vanco, 
    qualified_stays[['stay_id', 'intime']], 
    on='stay_id', 
    how='inner'
)
inputevents_vanco

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,amount,amountuom,...,ordercategorydescription,patientweight,totalamount,totalamountuom,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate,intime
0,10005817,20626031,32604416,4793,2132-12-16 19:50:00,2132-12-16 19:51:00,2132-12-16 19:50:00,225798,1.0,dose,...,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.0,2132-12-15 09:29:01
1,10005817,20626031,32604416,92805,2132-12-15 20:15:00,2132-12-15 20:16:00,2132-12-15 20:11:00,225798,1.0,dose,...,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.0,2132-12-15 09:29:01
2,10005817,20626031,32604416,20310,2132-12-17 09:15:00,2132-12-17 09:16:00,2132-12-17 09:28:00,225798,1.0,dose,...,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.0,2132-12-15 09:29:01
3,10005817,20626031,32604416,79166,2132-12-16 09:36:00,2132-12-16 09:37:00,2132-12-16 09:37:00,225798,1.0,dose,...,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.0,2132-12-15 09:29:01
4,10005348,25239799,34629895,86518,2130-10-27 21:00:00,2130-10-27 21:01:00,2130-10-27 21:54:00,225798,1.0,dose,...,Drug Push,69.0,200.0,ml,0,0,FinishedRunning,1.0,1.0,2130-10-27 12:06:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,10020740,23831430,35044342,93282,2150-03-21 08:06:00,2150-03-21 08:07:00,2150-03-21 08:07:00,225798,1.0,dose,...,Drug Push,103.0,250.0,ml,0,0,FinishedRunning,1.0,1.0,2150-03-19 04:41:33
300,10020740,23831430,35044342,35210,2150-03-19 08:00:00,2150-03-19 08:01:00,2150-03-19 08:35:00,225798,1.0,dose,...,Drug Push,103.0,200.0,ml,0,0,FinishedRunning,1.0,1.0,2150-03-19 04:41:33
301,10020740,23831430,35044342,68979,2150-03-19 20:49:00,2150-03-19 20:50:00,2150-03-19 21:49:00,225798,1.0,dose,...,Drug Push,103.0,200.0,ml,0,0,FinishedRunning,1.0,1.0,2150-03-19 04:41:33
302,10020740,23831430,35044342,68979,2150-03-20 20:27:00,2150-03-20 20:28:00,2150-03-20 20:27:00,225798,1.0,dose,...,Drug Push,103.0,200.0,ml,0,0,FinishedRunning,1.0,1.0,2150-03-19 04:41:33
303,10003400,23559586,34577403,68979,2137-08-12 20:15:00,2137-08-12 20:16:00,2137-08-12 20:56:00,225798,1.0,dose,...,Drug Push,90.5,200.0,ml,0,0,FinishedRunning,1.0,1.0,2137-08-10 19:54:51

In [173]:
# 3. 将所有时间转为 datetime 格式
inputevents_vanco['starttime'] = pd.to_datetime(inputevents_vanco['starttime'])
inputevents_vanco['endtime'] = pd.to_datetime(inputevents_vanco['endtime'])
inputevents_vanco['intime'] = pd.to_datetime(inputevents_vanco['intime'])

# 4. 计算相对于 intime 的开始和结束小时数
inputevents_vanco['vanco_start_rel'] = (inputevents_vanco['starttime'] - inputevents_vanco['intime']).dt.total_seconds() / 3600
inputevents_vanco['vanco_end_rel'] = (inputevents_vanco['endtime'] - inputevents_vanco['intime']).dt.total_seconds() / 3600

In [174]:
inputevents_vanco

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,amount,amountuom,...,totalamount,totalamountuom,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate,intime,vanco_start_rel,vanco_end_rel
0,10005817,20626031,32604416,4793,2132-12-16 19:50:00,2132-12-16 19:51:00,2132-12-16 19:50:00,225798,1.0,dose,...,500.0,ml,0,0,FinishedRunning,1.0,1.0,2132-12-15 09:29:01,34.349722,34.366389
1,10005817,20626031,32604416,92805,2132-12-15 20:15:00,2132-12-15 20:16:00,2132-12-15 20:11:00,225798,1.0,dose,...,500.0,ml,0,0,FinishedRunning,1.0,1.0,2132-12-15 09:29:01,10.766389,10.783056
2,10005817,20626031,32604416,20310,2132-12-17 09:15:00,2132-12-17 09:16:00,2132-12-17 09:28:00,225798,1.0,dose,...,500.0,ml,0,0,FinishedRunning,1.0,1.0,2132-12-15 09:29:01,47.766389,47.783056
3,10005817,20626031,32604416,79166,2132-12-16 09:36:00,2132-12-16 09:37:00,2132-12-16 09:37:00,225798,1.0,dose,...,500.0,ml,0,0,FinishedRunning,1.0,1.0,2132-12-15 09:29:01,24.116389,24.133056
4,10005348,25239799,34629895,86518,2130-10-27 21:00:00,2130-10-27 21:01:00,2130-10-27 21:54:00,225798,1.0,dose,...,200.0,ml,0,0,FinishedRunning,1.0,1.0,2130-10-27 12:06:00,8.900000,8.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,10020740,23831430,35044342,93282,2150-03-21 08:06:00,2150-03-21 08:07:00,2150-03-21 08:07:00,225798,1.0,dose,...,250.0,ml,0,0,FinishedRunning,1.0,1.0,2150-03-19 04:41:33,51.407500,51.424167
300,10020740,23831430,35044342,35210,2150-03-19 08:00:00,2150-03-19 08:01:00,2150-03-19 08:35:00,225798,1.0,dose,...,200.0,ml,0,0,FinishedRunning,1.0,1.0,2150-03-19 04:41:33,3.307500,3.324167
301,10020740,23831430,35044342,68979,2150-03-19 20:49:00,2150-03-19 20:50:00,2150-03-19 21:49:00,225798,1.0,dose,...,200.0,ml,0,0,FinishedRunning,1.0,1.0,2150-03-19 04:41:33,16.124167,16.140833
302,10020740,23831430,35044342,68979,2150-03-20 20:27:00,2150-03-20 20:28:00,2150-03-20 20:27:00,225798,1.0,dose,...,200.0,ml,0,0,FinishedRunning,1.0,1.0,2150-03-19 04:41:33,39.757500,39.774167
303,10003400,23559586,34577403,68979,2137-08-12 20:15:00,2137-08-12 20:16:00,2137-08-12 20:56:00,225798,1.0,dose,...,200.0,ml,0,0,FinishedRunning,1.0,1.0,2137-08-10 19:54:51,48.335833,48.352500

In [175]:
# 判断一下注射持续时间是不是都是1min
inputevents_vanco['duration_seconds'] = (inputevents_vanco['endtime'] - inputevents_vanco['starttime']).dt.total_seconds()
# 转换为分钟查看更直观
inputevents_vanco['duration_minutes'] = inputevents_vanco['duration_seconds'] / 60
# 展示前 20 条非空记录的 starttime, endtime 和 持续分钟数
inputevents_vanco['duration_minutes'].describe()

count    304.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: duration_minutes, dtype: float64

In [176]:
inputevents_vanco_v1 = inputevents_vanco
inputevents_vanco_v1

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,amount,amountuom,...,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate,intime,vanco_start_rel,vanco_end_rel,duration_seconds,duration_minutes
0,10005817,20626031,32604416,4793,2132-12-16 19:50:00,2132-12-16 19:51:00,2132-12-16 19:50:00,225798,1.0,dose,...,0,0,FinishedRunning,1.0,1.0,2132-12-15 09:29:01,34.349722,34.366389,60.0,1.0
1,10005817,20626031,32604416,92805,2132-12-15 20:15:00,2132-12-15 20:16:00,2132-12-15 20:11:00,225798,1.0,dose,...,0,0,FinishedRunning,1.0,1.0,2132-12-15 09:29:01,10.766389,10.783056,60.0,1.0
2,10005817,20626031,32604416,20310,2132-12-17 09:15:00,2132-12-17 09:16:00,2132-12-17 09:28:00,225798,1.0,dose,...,0,0,FinishedRunning,1.0,1.0,2132-12-15 09:29:01,47.766389,47.783056,60.0,1.0
3,10005817,20626031,32604416,79166,2132-12-16 09:36:00,2132-12-16 09:37:00,2132-12-16 09:37:00,225798,1.0,dose,...,0,0,FinishedRunning,1.0,1.0,2132-12-15 09:29:01,24.116389,24.133056,60.0,1.0
4,10005348,25239799,34629895,86518,2130-10-27 21:00:00,2130-10-27 21:01:00,2130-10-27 21:54:00,225798,1.0,dose,...,0,0,FinishedRunning,1.0,1.0,2130-10-27 12:06:00,8.900000,8.916667,60.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,10020740,23831430,35044342,93282,2150-03-21 08:06:00,2150-03-21 08:07:00,2150-03-21 08:07:00,225798,1.0,dose,...,0,0,FinishedRunning,1.0,1.0,2150-03-19 04:41:33,51.407500,51.424167,60.0,1.0
300,10020740,23831430,35044342,35210,2150-03-19 08:00:00,2150-03-19 08:01:00,2150-03-19 08:35:00,225798,1.0,dose,...,0,0,FinishedRunning,1.0,1.0,2150-03-19 04:41:33,3.307500,3.324167,60.0,1.0
301,10020740,23831430,35044342,68979,2150-03-19 20:49:00,2150-03-19 20:50:00,2150-03-19 21:49:00,225798,1.0,dose,...,0,0,FinishedRunning,1.0,1.0,2150-03-19 04:41:33,16.124167,16.140833,60.0,1.0
302,10020740,23831430,35044342,68979,2150-03-20 20:27:00,2150-03-20 20:28:00,2150-03-20 20:27:00,225798,1.0,dose,...,0,0,FinishedRunning,1.0,1.0,2150-03-19 04:41:33,39.757500,39.774167,60.0,1.0
303,10003400,23559586,34577403,68979,2137-08-12 20:15:00,2137-08-12 20:16:00,2137-08-12 20:56:00,225798,1.0,dose,...,0,0,FinishedRunning,1.0,1.0,2137-08-10 19:54:51,48.335833,48.352500,60.0,1.0

In [177]:
inputevents_vanco_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   subject_id                     304 non-null    int64
 1   hadm_id                        304 non-null    int64
 2   stay_id                        304 non-null    int64
 3   caregiver_id                   304 non-null    int64
 4   starttime                      304 non-null    datetime64[ns]
 5   endtime                        304 non-null    datetime64[ns]
 6   storetime                      304 non-null    object
 7   itemid                         304 non-null    int64
 8   amount                         304 non-null    float64
 9   amountuom                      304 non-null    object
 10  rate                           0 non-null      float64
 11  rateuom                        0 non-null      object
 12  orderid                        304 non-null    int64
 13  linkorderid                    304 non-null    int64
 14  ordercategoryname              304 non-null    object
 15  secondaryordercategoryname     232 non-null    object
 16  ordercomponenttypedescription  304 non-null    object
 17  ordercategorydescription       304 non-null    object
 18  patientweight                  304 non-null    float64
 19  totalamount                    232 non-null    float64
 20  totalamountuom                 232 non-null    object
 21  isopenbag                      304 non-null    int64
 22  continueinnextdept             304 non-null    int64
 23  statusdescription              304 non-null    object
 24  originalamount                 304 non-null    float64
 25  originalrate                   304 non-null    float64
 26  intime                         304 non-null    datetime64[ns]
 27  vanco_start_rel                304 non-null    float64
 28  vanco_end_rel                  304 non-null    float64
 29  duration_seconds               304 non-null    float64
 30  duration_minutes               304 non-null    float64
dtypes: datetime64[ns](3), float64(10), int64(9), object(9)
memory usage: 73.8+ KB

In [178]:
cols_to_drop = [
    'caregiver_id',    
    'endtime',           # 原始给药结束时间
    'storetime',         # 记录存入数据库的时间
    'isopenbag',           
    'continueinnextdept',     
    'statusdescription'
    'orderid', 
    'linkorderid',
    'ordercategoryname', 
    'secondaryordercategoryname',
    'ordercomponenttypedescription', 
    'ordercategorydescription',
    'rate',
    'rateuom',
    'duration_seconds',
    'duration_minutes',
    'vanco_end_rel'
    'statusdescription',
    #'amount',
    #'amountuom',
    'originalamount',
    'originalrate',
    'totalamountuom',
]
# 执行删除
# errors='ignore' 可以防止因为某些列已经不存在而报错
inputevents_vanco = inputevents_vanco.drop(columns=cols_to_drop, errors='ignore')
inputevents_vanco

,subject_id,hadm_id,stay_id,starttime,itemid,amount,amountuom,orderid,patientweight,totalamount,statusdescription,intime,vanco_start_rel,vanco_end_rel
0,10005817,20626031,32604416,2132-12-16 19:50:00,225798,1.0,dose,3316866,91.0,500.0,FinishedRunning,2132-12-15 09:29:01,34.349722,34.366389
1,10005817,20626031,32604416,2132-12-15 20:15:00,225798,1.0,dose,8515923,91.0,500.0,FinishedRunning,2132-12-15 09:29:01,10.766389,10.783056
2,10005817,20626031,32604416,2132-12-17 09:15:00,225798,1.0,dose,8912103,91.0,500.0,FinishedRunning,2132-12-15 09:29:01,47.766389,47.783056
3,10005817,20626031,32604416,2132-12-16 09:36:00,225798,1.0,dose,4059842,91.0,500.0,FinishedRunning,2132-12-15 09:29:01,24.116389,24.133056
4,10005348,25239799,34629895,2130-10-27 21:00:00,225798,1.0,dose,4096637,69.0,200.0,FinishedRunning,2130-10-27 12:06:00,8.900000,8.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,10020740,23831430,35044342,2150-03-21 08:06:00,225798,1.0,dose,2052432,103.0,250.0,FinishedRunning,2150-03-19 04:41:33,51.407500,51.424167
300,10020740,23831430,35044342,2150-03-19 08:00:00,225798,1.0,dose,6720828,103.0,200.0,FinishedRunning,2150-03-19 04:41:33,3.307500,3.324167
301,10020740,23831430,35044342,2150-03-19 20:49:00,225798,1.0,dose,8822130,103.0,200.0,FinishedRunning,2150-03-19 04:41:33,16.124167,16.140833
302,10020740,23831430,35044342,2150-03-20 20:27:00,225798,1.0,dose,4703541,103.0,200.0,FinishedRunning,2150-03-19 04:41:33,39.757500,39.774167
303,10003400,23559586,34577403,2137-08-12 20:15:00,225798,1.0,dose,7608068,90.5,200.0,FinishedRunning,2137-08-10 19:54:51,48.335833,48.352500

In [179]:
inputevents_vancov2 = inputevents_vanco
inputevents_vancov2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   subject_id         304 non-null    int64
 1   hadm_id            304 non-null    int64
 2   stay_id            304 non-null    int64
 3   starttime          304 non-null    datetime64[ns]
 4   itemid             304 non-null    int64
 5   amount             304 non-null    float64
 6   amountuom          304 non-null    object
 7   orderid            304 non-null    int64
 8   patientweight      304 non-null    float64
 9   totalamount        232 non-null    float64
 10  statusdescription  304 non-null    object
 11  intime             304 non-null    datetime64[ns]
 12  vanco_start_rel    304 non-null    float64
 13  vanco_end_rel      304 non-null    float64
dtypes: datetime64[ns](2), float64(5), int64(5), object(2)
memory usage: 33.4+ KB

In [180]:
cols_to_dropv2 = ['amount','amountuom']
inputevents_vanco = inputevents_vanco.drop(columns=cols_to_dropv2, errors='ignore')
inputevents_vanco

,subject_id,hadm_id,stay_id,starttime,itemid,orderid,patientweight,totalamount,statusdescription,intime,vanco_start_rel,vanco_end_rel
0,10005817,20626031,32604416,2132-12-16 19:50:00,225798,3316866,91.0,500.0,FinishedRunning,2132-12-15 09:29:01,34.349722,34.366389
1,10005817,20626031,32604416,2132-12-15 20:15:00,225798,8515923,91.0,500.0,FinishedRunning,2132-12-15 09:29:01,10.766389,10.783056
2,10005817,20626031,32604416,2132-12-17 09:15:00,225798,8912103,91.0,500.0,FinishedRunning,2132-12-15 09:29:01,47.766389,47.783056
3,10005817,20626031,32604416,2132-12-16 09:36:00,225798,4059842,91.0,500.0,FinishedRunning,2132-12-15 09:29:01,24.116389,24.133056
4,10005348,25239799,34629895,2130-10-27 21:00:00,225798,4096637,69.0,200.0,FinishedRunning,2130-10-27 12:06:00,8.900000,8.916667
...,...,...,...,...,...,...,...,...,...,...,...,...
299,10020740,23831430,35044342,2150-03-21 08:06:00,225798,2052432,103.0,250.0,FinishedRunning,2150-03-19 04:41:33,51.407500,51.424167
300,10020740,23831430,35044342,2150-03-19 08:00:00,225798,6720828,103.0,200.0,FinishedRunning,2150-03-19 04:41:33,3.307500,3.324167
301,10020740,23831430,35044342,2150-03-19 20:49:00,225798,8822130,103.0,200.0,FinishedRunning,2150-03-19 04:41:33,16.124167,16.140833
302,10020740,23831430,35044342,2150-03-20 20:27:00,225798,4703541,103.0,200.0,FinishedRunning,2150-03-19 04:41:33,39.757500,39.774167
303,10003400,23559586,34577403,2137-08-12 20:15:00,225798,7608068,90.5,200.0,FinishedRunning,2137-08-10 19:54:51,48.335833,48.352500

In [181]:
vanco_750 = inputevents_vancov2[inputevents_vancov2['amountuom'] == 'mg']
vanco_750
# 可以得出 750mg的药物在250ml的溶剂里

,subject_id,hadm_id,stay_id,starttime,itemid,amount,amountuom,orderid,patientweight,totalamount,statusdescription,intime,vanco_start_rel,vanco_end_rel
280,10020640,27984218,30849778,2153-02-13 22:00:00,225798,750.00006,mg,6765706,54.7,250.0,FinishedRunning,2153-02-13 01:38:00,20.366667,20.383333

In [182]:
inputevents_vanco['totalamount_mg'] = inputevents_vanco['totalamount'] * 3
inputevents_vanco = inputevents_vanco.drop(columns=['totalamount'], errors='ignore')
inputevents_vanco

,subject_id,hadm_id,stay_id,starttime,itemid,orderid,patientweight,statusdescription,intime,vanco_start_rel,vanco_end_rel,totalamount_mg
0,10005817,20626031,32604416,2132-12-16 19:50:00,225798,3316866,91.0,FinishedRunning,2132-12-15 09:29:01,34.349722,34.366389,1500.0
1,10005817,20626031,32604416,2132-12-15 20:15:00,225798,8515923,91.0,FinishedRunning,2132-12-15 09:29:01,10.766389,10.783056,1500.0
2,10005817,20626031,32604416,2132-12-17 09:15:00,225798,8912103,91.0,FinishedRunning,2132-12-15 09:29:01,47.766389,47.783056,1500.0
3,10005817,20626031,32604416,2132-12-16 09:36:00,225798,4059842,91.0,FinishedRunning,2132-12-15 09:29:01,24.116389,24.133056,1500.0
4,10005348,25239799,34629895,2130-10-27 21:00:00,225798,4096637,69.0,FinishedRunning,2130-10-27 12:06:00,8.900000,8.916667,600.0
...,...,...,...,...,...,...,...,...,...,...,...,...
299,10020740,23831430,35044342,2150-03-21 08:06:00,225798,2052432,103.0,FinishedRunning,2150-03-19 04:41:33,51.407500,51.424167,750.0
300,10020740,23831430,35044342,2150-03-19 08:00:00,225798,6720828,103.0,FinishedRunning,2150-03-19 04:41:33,3.307500,3.324167,600.0
301,10020740,23831430,35044342,2150-03-19 20:49:00,225798,8822130,103.0,FinishedRunning,2150-03-19 04:41:33,16.124167,16.140833,600.0
302,10020740,23831430,35044342,2150-03-20 20:27:00,225798,4703541,103.0,FinishedRunning,2150-03-19 04:41:33,39.757500,39.774167,600.0
303,10003400,23559586,34577403,2137-08-12 20:15:00,225798,7608068,90.5,FinishedRunning,2137-08-10 19:54:51,48.335833,48.352500,600.0

In [183]:
# 先不定义观测时间段，后面根据实际情况再定义
qualified_stays_filtered = qualified_stays[['subject_id','hadm_id','stay_id','intime','outtime']]
qualified_stays_filtered

     subject_id   hadm_id   stay_id               intime              outtime
0      10018328  23786647  31269608  2154-04-24 23:03:44  2154-05-02 15:55:21
1      10020187  24104168  37509585  2169-01-15 04:56:00  2169-01-20 15:47:50
3      10012853  27882036  31338022  2176-11-26 02:34:49  2176-11-29 20:58:54
4      10020740  25826145  32145159  2150-06-03 20:12:32  2150-06-04 21:05:58
5      10039708  23819016  38559363  2140-06-18 01:41:00  2140-06-19 21:47:16
..          ...       ...       ...                  ...                  ...
134    10003400  20214994  32128372  2137-02-25 23:37:19  2137-03-10 21:29:36
135    10020786  23488445  33683112  2189-06-09 12:46:30  2189-06-10 22:58:09
136    10020740  23831430  35026312  2150-03-11 15:34:56  2150-03-19 02:17:47
137    10032725  20611640  30101877  2143-03-22 06:42:00  2143-03-25 15:05:33
139    10015931  22130791  37093652  2177-03-24 21:48:07  2177-03-29 18:03:36

[117 rows x 5 columns]

In [184]:
df_patient = pd.merge(
    qualified_stays_filtered, 
    patients[['subject_id', 'gender', 'anchor_age']], 
    on='subject_id', 
    how='left'
)
df_patient

,subject_id,hadm_id,stay_id,intime,outtime,gender,anchor_age
0,10018328,23786647,31269608,2154-04-24 23:03:44,2154-05-02 15:55:21,F,83
1,10020187,24104168,37509585,2169-01-15 04:56:00,2169-01-20 15:47:50,F,63
2,10012853,27882036,31338022,2176-11-26 02:34:49,2176-11-29 20:58:54,F,91
3,10020740,25826145,32145159,2150-06-03 20:12:32,2150-06-04 21:05:58,M,56
4,10039708,23819016,38559363,2140-06-18 01:41:00,2140-06-19 21:47:16,F,46
...,...,...,...,...,...,...,...
112,10003400,20214994,32128372,2137-02-25 23:37:19,2137-03-10 21:29:36,F,72
113,10020786,23488445,33683112,2189-06-09 12:46:30,2189-06-10 22:58:09,F,86
114,10020740,23831430,35026312,2150-03-11 15:34:56,2150-03-19 02:17:47,M,56
115,10032725,20611640,30101877,2143-03-22 06:42:00,2143-03-25 15:05:33,F,38
116,10015931,22130791,37093652,2177-03-24 21:48:07,2177-03-29 18:03:36,M,87

In [185]:
inputevents_vanco

,subject_id,hadm_id,stay_id,starttime,itemid,orderid,patientweight,statusdescription,intime,vanco_start_rel,vanco_end_rel,totalamount_mg
0,10005817,20626031,32604416,2132-12-16 19:50:00,225798,3316866,91.0,FinishedRunning,2132-12-15 09:29:01,34.349722,34.366389,1500.0
1,10005817,20626031,32604416,2132-12-15 20:15:00,225798,8515923,91.0,FinishedRunning,2132-12-15 09:29:01,10.766389,10.783056,1500.0
2,10005817,20626031,32604416,2132-12-17 09:15:00,225798,8912103,91.0,FinishedRunning,2132-12-15 09:29:01,47.766389,47.783056,1500.0
3,10005817,20626031,32604416,2132-12-16 09:36:00,225798,4059842,91.0,FinishedRunning,2132-12-15 09:29:01,24.116389,24.133056,1500.0
4,10005348,25239799,34629895,2130-10-27 21:00:00,225798,4096637,69.0,FinishedRunning,2130-10-27 12:06:00,8.900000,8.916667,600.0
...,...,...,...,...,...,...,...,...,...,...,...,...
299,10020740,23831430,35044342,2150-03-21 08:06:00,225798,2052432,103.0,FinishedRunning,2150-03-19 04:41:33,51.407500,51.424167,750.0
300,10020740,23831430,35044342,2150-03-19 08:00:00,225798,6720828,103.0,FinishedRunning,2150-03-19 04:41:33,3.307500,3.324167,600.0
301,10020740,23831430,35044342,2150-03-19 20:49:00,225798,8822130,103.0,FinishedRunning,2150-03-19 04:41:33,16.124167,16.140833,600.0
302,10020740,23831430,35044342,2150-03-20 20:27:00,225798,4703541,103.0,FinishedRunning,2150-03-19 04:41:33,39.757500,39.774167,600.0
303,10003400,23559586,34577403,2137-08-12 20:15:00,225798,7608068,90.5,FinishedRunning,2137-08-10 19:54:51,48.335833,48.352500,600.0

In [186]:
inputevents_vanco['intime'] = pd.to_datetime(inputevents_vanco['intime'])
df_patient['intime'] = pd.to_datetime(df_patient['intime'])
df_patient_input = pd.merge(
    inputevents_vanco,
    df_patient, 
    on=['subject_id','hadm_id','stay_id','intime'], 
    how='left'
)
df_patient_input

,subject_id,hadm_id,stay_id,starttime,itemid,orderid,patientweight,statusdescription,intime,vanco_start_rel,vanco_end_rel,totalamount_mg,outtime,gender,anchor_age
0,10005817,20626031,32604416,2132-12-16 19:50:00,225798,3316866,91.0,FinishedRunning,2132-12-15 09:29:01,34.349722,34.366389,1500.0,2132-12-17 18:06:07,M,66
1,10005817,20626031,32604416,2132-12-15 20:15:00,225798,8515923,91.0,FinishedRunning,2132-12-15 09:29:01,10.766389,10.783056,1500.0,2132-12-17 18:06:07,M,66
2,10005817,20626031,32604416,2132-12-17 09:15:00,225798,8912103,91.0,FinishedRunning,2132-12-15 09:29:01,47.766389,47.783056,1500.0,2132-12-17 18:06:07,M,66
3,10005817,20626031,32604416,2132-12-16 09:36:00,225798,4059842,91.0,FinishedRunning,2132-12-15 09:29:01,24.116389,24.133056,1500.0,2132-12-17 18:06:07,M,66
4,10005348,25239799,34629895,2130-10-27 21:00:00,225798,4096637,69.0,FinishedRunning,2130-10-27 12:06:00,8.900000,8.916667,600.0,2130-10-29 12:05:02,M,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,10020740,23831430,35044342,2150-03-21 08:06:00,225798,2052432,103.0,FinishedRunning,2150-03-19 04:41:33,51.407500,51.424167,750.0,2150-03-23 20:49:33,M,56
300,10020740,23831430,35044342,2150-03-19 08:00:00,225798,6720828,103.0,FinishedRunning,2150-03-19 04:41:33,3.307500,3.324167,600.0,2150-03-23 20:49:33,M,56
301,10020740,23831430,35044342,2150-03-19 20:49:00,225798,8822130,103.0,FinishedRunning,2150-03-19 04:41:33,16.124167,16.140833,600.0,2150-03-23 20:49:33,M,56
302,10020740,23831430,35044342,2150-03-20 20:27:00,225798,4703541,103.0,FinishedRunning,2150-03-19 04:41:33,39.757500,39.774167,600.0,2150-03-23 20:49:33,M,56
303,10003400,23559586,34577403,2137-08-12 20:15:00,225798,7608068,90.5,FinishedRunning,2137-08-10 19:54:51,48.335833,48.352500,600.0,2137-08-13 17:54:54,F,72

In [187]:
df_patient_input = df_patient_input.drop(df_patient_input.columns[[5,7]], axis=1)
df_patient_input

,subject_id,hadm_id,stay_id,starttime,itemid,patientweight,intime,vanco_start_rel,vanco_end_rel,totalamount_mg,outtime,gender,anchor_age
0,10005817,20626031,32604416,2132-12-16 19:50:00,225798,91.0,2132-12-15 09:29:01,34.349722,34.366389,1500.0,2132-12-17 18:06:07,M,66
1,10005817,20626031,32604416,2132-12-15 20:15:00,225798,91.0,2132-12-15 09:29:01,10.766389,10.783056,1500.0,2132-12-17 18:06:07,M,66
2,10005817,20626031,32604416,2132-12-17 09:15:00,225798,91.0,2132-12-15 09:29:01,47.766389,47.783056,1500.0,2132-12-17 18:06:07,M,66
3,10005817,20626031,32604416,2132-12-16 09:36:00,225798,91.0,2132-12-15 09:29:01,24.116389,24.133056,1500.0,2132-12-17 18:06:07,M,66
4,10005348,25239799,34629895,2130-10-27 21:00:00,225798,69.0,2130-10-27 12:06:00,8.900000,8.916667,600.0,2130-10-29 12:05:02,M,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,10020740,23831430,35044342,2150-03-21 08:06:00,225798,103.0,2150-03-19 04:41:33,51.407500,51.424167,750.0,2150-03-23 20:49:33,M,56
300,10020740,23831430,35044342,2150-03-19 08:00:00,225798,103.0,2150-03-19 04:41:33,3.307500,3.324167,600.0,2150-03-23 20:49:33,M,56
301,10020740,23831430,35044342,2150-03-19 20:49:00,225798,103.0,2150-03-19 04:41:33,16.124167,16.140833,600.0,2150-03-23 20:49:33,M,56
302,10020740,23831430,35044342,2150-03-20 20:27:00,225798,103.0,2150-03-19 04:41:33,39.757500,39.774167,600.0,2150-03-23 20:49:33,M,56
303,10003400,23559586,34577403,2137-08-12 20:15:00,225798,90.5,2137-08-10 19:54:51,48.335833,48.352500,600.0,2137-08-13 17:54:54,F,72

In [196]:
lab_features

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
3,172063,10014354,29600294.0,1808066,51301,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,20.3,20.3,K/uL,4.0,10.0,abnormal,ROUTINE,NaN
15,172090,10014354,29600294.0,43195817,51006,NaN,2148-08-16 00:00:00,2148-08-16 01:47:00,26,26.0,mg/dL,6.0,20.0,abnormal,ROUTINE,NaN
28,172080,10014354,29600294.0,43195817,50912,NaN,2148-08-16 00:00:00,2148-08-16 01:47:00,1.8,1.8,mg/dL,0.5,1.2,abnormal,ROUTINE,NaN
88,172590,10014354,26486158.0,78241917,50912,NaN,2148-08-24 00:00:00,2148-08-24 01:34:00,0.9,0.9,mg/dL,0.5,1.2,NaN,ROUTINE,NaN
90,172599,10014354,26486158.0,78241917,51006,NaN,2148-08-24 00:00:00,2148-08-24 01:34:00,10,10.0,mg/dL,6.0,20.0,NaN,ROUTINE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107664,473236,10040025,27876215.0,29795328,50912,NaN,2147-11-14 04:59:00,2147-11-14 06:18:00,2.4,2.4,mg/dL,0.4,1.1,abnormal,STAT,NaN
107667,473244,10040025,27876215.0,29795328,51006,NaN,2147-11-14 04:59:00,2147-11-14 06:18:00,76,76.0,mg/dL,6.0,20.0,abnormal,STAT,NaN
107672,473254,10040025,27876215.0,41625861,51301,NaN,2147-11-14 04:59:00,2147-11-14 05:34:00,9.8,9.8,K/uL,4.0,10.0,NaN,STAT,NaN
107695,561,10000032,25742920.0,6101561,50912,NaN,2180-08-07 00:59:00,2180-08-07 02:04:00,0.4,0.4,mg/dL,0.4,1.1,NaN,STAT,NaN
107697,567,10000032,25742920.0,6101561,51006,NaN,2180-08-07 00:59:00,2180-08-07 02:04:00,28,28.0,mg/dL,6.0,20.0,abnormal,STAT,NaN

In [197]:
# 计算每个 hadm_id 对应了多少个唯一的 stay_id
stay_counts_per_hadm = df_patient_input.groupby('hadm_id')['stay_id'].nunique()

# 判断是否所有 hadm_id 都只对应 1 个 stay_id
is_one_to_one = (stay_counts_per_hadm == 1).all()

if is_one_to_one:
    print("✅ 验证通过：在这个数据集中，hadm_id 和 stay_id 是一一对应的。")
else:
    multi_stay_hadms = stay_counts_per_hadm[stay_counts_per_hadm > 1].count()
    print(f"⚠️ 验证未通过：有 {multi_stay_hadms} 个住院记录包含了多次进出 ICU 的经历。")

⚠️ 验证未通过：有 4 个住院记录包含了多次进出 ICU 的经历。

In [198]:
# 1. 确保所有相关时间列均为 datetime 格式
lab_features['charttime'] = pd.to_datetime(lab_features['charttime'])
df_patient['intime'] = pd.to_datetime(df_patient['intime'])
df_patient['outtime'] = pd.to_datetime(df_patient['outtime'])

# 2. 通过 subject_id 和 hadm_id 进行初步联立 (此时那 4 个病人的记录会暂时加倍)
lab_temp = pd.merge(
    lab_features, 
    qualified_stays_filtered[['subject_id', 'hadm_id', 'stay_id', 'intime', 'outtime']], 
    on=['subject_id', 'hadm_id'], 
    how='inner'
)

# 3. 核心逻辑：过滤掉不属于当前 stay_id 时间段的化验记录
# 考虑到临床化验可能在入室前或出室后极短时间内发生，这里严格按 ICU 期间筛选
lab_features = lab_temp[
    (lab_temp['charttime'] >= lab_temp['intime']) & 
    (lab_temp['charttime'] <= lab_temp['outtime'])
].copy()

# 4. 删除中间辅助列，保持表结构干净
lab_features = lab_features.drop(columns=['intime', 'outtime'])
print(f"处理完毕！匹配到 ICU 期间的化验记录共: {len(lab_features)} 条")

处理完毕！匹配到 ICU 期间的化验记录共: 2659 条

In [199]:
lab_features

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments,stay_id
3,172235,10014354,29600294.0,93403391,50912,NaN,2148-08-17 03:03:00,2148-08-17 05:04:00,1.6,1.6,mg/dL,0.5,1.2,abnormal,STAT,NaN,39864867
4,172225,10014354,29600294.0,40821300,51301,NaN,2148-08-17 03:03:00,2148-08-17 03:25:00,13.5,13.5,K/uL,4.0,10.0,abnormal,STAT,NaN,39864867
5,172243,10014354,29600294.0,93403391,51006,NaN,2148-08-17 03:03:00,2148-08-17 04:44:00,31,31.0,mg/dL,6.0,20.0,abnormal,STAT,NaN,39864867
12,172156,10014354,29600294.0,15902192,50912,NaN,2148-08-16 12:35:00,2148-08-16 13:35:00,2.0,2.0,mg/dL,0.5,1.2,abnormal,STAT,NaN,39864867
13,172165,10014354,29600294.0,15902192,51006,NaN,2148-08-16 12:35:00,2148-08-16 13:35:00,31,31.0,mg/dL,6.0,20.0,abnormal,STAT,NaN,39864867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5249,101903,10008287,22168393.0,36759092,51006,NaN,2145-09-29 02:39:00,2145-09-29 03:39:00,8,8.0,mg/dL,6.0,20.0,NaN,STAT,NaN,33348260
5250,101897,10008287,22168393.0,36759092,50912,NaN,2145-09-29 02:39:00,2145-09-29 03:39:00,0.5,0.5,mg/dL,0.4,1.1,NaN,STAT,NaN,33348260
5253,38816,10002930,25696644.0,33892332,51301,NaN,2196-04-15 03:36:00,2196-04-15 04:14:00,2.4,2.4,K/uL,4.0,11.0,abnormal,ROUTINE,NaN,37049133
5254,38827,10002930,25696644.0,56043725,51006,NaN,2196-04-15 03:36:00,2196-04-15 04:45:00,15,15.0,mg/dL,6.0,20.0,NaN,ROUTINE,NaN,37049133
5255,38821,10002930,25696644.0,56043725,50912,NaN,2196-04-15 03:36:00,2196-04-15 04:45:00,0.6,0.6,mg/dL,0.4,1.1,NaN,ROUTINE,NaN,37049133

# 找出四个指标的参考值

In [200]:
lab_features[['itemid','ref_range_lower','ref_range_upper']].drop_duplicates()

     itemid  ref_range_lower  ref_range_upper
3     50912              0.5              1.2
4     51301              4.0             10.0
5     51006              6.0             20.0
17    50912              0.4              1.1
21    51301              4.0             11.0
250   51009             10.0             20.0

In [201]:
unified_ref = {
    'vanco_level': (10.0, 20.0, 15.0),  # 万古霉素浓度
    'creatinine':  (0.6, 1.2, 0.9),    # 肾功能
    'wbc':         (4.0, 10.0, 7.0),   # 感染指标
    'bun':         (7.0, 20.0, 13.5)   # 尿素氮
}
unified_ref

{'vanco_level': (10.0, 20.0, 15.0),
 'creatinine': (0.6, 1.2, 0.9),
 'wbc': (4.0, 10.0, 7.0),
 'bun': (7.0, 20.0, 13.5)}

# 联立抽血表和给药表

In [202]:
# --- 第一步：Lab 数据透视 (加入 specimen_id) ---
lab_pivot = lab_features.pivot_table(
    index=['subject_id', 'hadm_id', 'stay_id','charttime'], #'specimen_id',
    columns='itemid', 
    values='valuenum',
    #aggfunc='mean' # 如果同一个样本对同一个指标测了多次，取均值
).reset_index()

# 重命名列名
lab_pivot = lab_pivot.rename(columns={
    51009: 'vanco_level', 
    50912: 'creatinine', 
    51301: 'wbc', 
    51006: 'bun'
})
lab_pivot

itemid,subject_id,hadm_id,stay_id,charttime,creatinine,bun,vanco_level,wbc
0,10001217,24597018.0,37067082,2157-11-21 03:16:00,0.4,9.0,NaN,19.0
1,10001725,25563031.0,31205490,2110-04-11 18:02:00,0.8,16.0,NaN,17.0
2,10001725,25563031.0,31205490,2110-04-12 02:59:00,0.8,18.0,NaN,20.1
3,10002428,20321825.0,34807493,2156-05-01 01:53:00,0.3,14.0,NaN,7.1
4,10002428,20321825.0,34807493,2156-05-01 06:08:00,NaN,NaN,NaN,8.8
...,...,...,...,...,...,...,...,...
1062,10040025,27996267.0,36107367,2148-01-28 02:26:00,1.9,60.0,NaN,11.6
1063,10040025,27996267.0,36107367,2148-01-28 06:23:00,NaN,NaN,28.3,NaN
1064,10040025,27996267.0,36107367,2148-01-28 20:06:00,1.8,58.0,NaN,13.6
1065,10040025,27996267.0,36107367,2148-01-29 02:06:00,1.7,58.0,NaN,13.7
1066,10040025,27996267.0,36107367,2148-01-30 02:07:00,1.6,58.0,NaN,11.9

In [203]:
# --- 第二步：计算 Lab 的相对时间 (相对于 intime) ---
lab_pivot = pd.merge(lab_pivot, df_patient[['stay_id', 'intime']], on='stay_id', how='left')
lab_pivot['rel_time'] = (pd.to_datetime(lab_pivot['charttime']) - pd.to_datetime(lab_pivot['intime'])).dt.total_seconds() / 3600
lab_pivot

,subject_id,hadm_id,stay_id,charttime,creatinine,bun,vanco_level,wbc,intime,rel_time
0,10001217,24597018.0,37067082,2157-11-21 03:16:00,0.4,9.0,NaN,19.0,2157-11-20 19:18:02,7.966111
1,10001725,25563031.0,31205490,2110-04-11 18:02:00,0.8,16.0,NaN,17.0,2110-04-11 15:52:22,2.160556
2,10001725,25563031.0,31205490,2110-04-12 02:59:00,0.8,18.0,NaN,20.1,2110-04-11 15:52:22,11.110556
3,10002428,20321825.0,34807493,2156-05-01 01:53:00,0.3,14.0,NaN,7.1,2156-04-30 21:53:00,4.000000
4,10002428,20321825.0,34807493,2156-05-01 06:08:00,NaN,NaN,NaN,8.8,2156-04-30 21:53:00,8.250000
...,...,...,...,...,...,...,...,...,...,...
1062,10040025,27996267.0,36107367,2148-01-28 02:26:00,1.9,60.0,NaN,11.6,2148-01-24 04:50:17,93.595278
1063,10040025,27996267.0,36107367,2148-01-28 06:23:00,NaN,NaN,28.3,NaN,2148-01-24 04:50:17,97.545278
1064,10040025,27996267.0,36107367,2148-01-28 20:06:00,1.8,58.0,NaN,13.6,2148-01-24 04:50:17,111.261944
1065,10040025,27996267.0,36107367,2148-01-29 02:06:00,1.7,58.0,NaN,13.7,2148-01-24 04:50:17,117.261944
1066,10040025,27996267.0,36107367,2148-01-30 02:07:00,1.6,58.0,NaN,11.9,2148-01-24 04:50:17,141.278611

In [207]:
lab_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subject_id   1067 non-null   int64
 1   hadm_id      1067 non-null   float64
 2   stay_id      1067 non-null   int64
 3   charttime    1067 non-null   datetime64[ns]
 4   creatinine   892 non-null    float64
 5   bun          891 non-null    float64
 6   vanco_level  70 non-null     float64
 7   wbc          803 non-null    float64
 8   intime       1067 non-null   datetime64[ns]
 9   rel_time     1067 non-null   float64
 10  event_type   1067 non-null   object
dtypes: datetime64[ns](2), float64(6), int64(2), object(1)
memory usage: 91.8+ KB

In [204]:
lab_pivot[lab_pivot['stay_id']==32604416]

,subject_id,hadm_id,stay_id,charttime,creatinine,bun,vanco_level,wbc,intime,rel_time
187,10005817,20626031.0,32604416,2132-12-15 12:58:00,NaN,NaN,NaN,12.1,2132-12-15 09:29:01,3.483056
188,10005817,20626031.0,32604416,2132-12-15 14:40:00,0.8,13.0,NaN,14.8,2132-12-15 09:29:01,5.183056
189,10005817,20626031.0,32604416,2132-12-16 02:14:00,0.9,16.0,NaN,14.9,2132-12-15 09:29:01,16.749722
190,10005817,20626031.0,32604416,2132-12-17 02:18:00,1.1,20.0,NaN,10.4,2132-12-15 09:29:01,40.816389
191,10005817,20626031.0,32604416,2132-12-17 11:03:00,1.1,20.0,NaN,NaN,2132-12-15 09:29:01,49.566389

In [205]:
df_patient_input

,subject_id,hadm_id,stay_id,starttime,itemid,patientweight,intime,vanco_start_rel,vanco_end_rel,totalamount_mg,outtime,gender,anchor_age
0,10005817,20626031,32604416,2132-12-16 19:50:00,225798,91.0,2132-12-15 09:29:01,34.349722,34.366389,1500.0,2132-12-17 18:06:07,M,66
1,10005817,20626031,32604416,2132-12-15 20:15:00,225798,91.0,2132-12-15 09:29:01,10.766389,10.783056,1500.0,2132-12-17 18:06:07,M,66
2,10005817,20626031,32604416,2132-12-17 09:15:00,225798,91.0,2132-12-15 09:29:01,47.766389,47.783056,1500.0,2132-12-17 18:06:07,M,66
3,10005817,20626031,32604416,2132-12-16 09:36:00,225798,91.0,2132-12-15 09:29:01,24.116389,24.133056,1500.0,2132-12-17 18:06:07,M,66
4,10005348,25239799,34629895,2130-10-27 21:00:00,225798,69.0,2130-10-27 12:06:00,8.900000,8.916667,600.0,2130-10-29 12:05:02,M,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,10020740,23831430,35044342,2150-03-21 08:06:00,225798,103.0,2150-03-19 04:41:33,51.407500,51.424167,750.0,2150-03-23 20:49:33,M,56
300,10020740,23831430,35044342,2150-03-19 08:00:00,225798,103.0,2150-03-19 04:41:33,3.307500,3.324167,600.0,2150-03-23 20:49:33,M,56
301,10020740,23831430,35044342,2150-03-19 20:49:00,225798,103.0,2150-03-19 04:41:33,16.124167,16.140833,600.0,2150-03-23 20:49:33,M,56
302,10020740,23831430,35044342,2150-03-20 20:27:00,225798,103.0,2150-03-19 04:41:33,39.757500,39.774167,600.0,2150-03-23 20:49:33,M,56
303,10003400,23559586,34577403,2137-08-12 20:15:00,225798,90.5,2137-08-10 19:54:51,48.335833,48.352500,600.0,2137-08-13 17:54:54,F,72

In [208]:
df_patient_input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   subject_id       304 non-null    int64
 1   hadm_id          304 non-null    int64
 2   stay_id          304 non-null    int64
 3   starttime        304 non-null    datetime64[ns]
 4   itemid           304 non-null    int64
 5   patientweight    304 non-null    float64
 6   intime           304 non-null    datetime64[ns]
 7   vanco_start_rel  304 non-null    float64
 8   vanco_end_rel    304 non-null    float64
 9   totalamount_mg   232 non-null    float64
 10  outtime          304 non-null    object
 11  gender           304 non-null    object
 12  anchor_age       304 non-null    int64
 13  event_type       304 non-null    object
dtypes: datetime64[ns](2), float64(4), int64(5), object(3)
memory usage: 33.4+ KB

In [215]:
lab_pivot_copy = lab_pivot
df_patient_input_copy = df_patient_input

vanco_patient_stays = df_patient_input_copy['stay_id'].unique()

# 1. 统一标注事件类型，方便后续 RL 识别 Observation 和 Action
lab_pivot_copy['event_type'] = 'lab'
lab_pivot_copy_filtered = lab_pivot_copy[lab_pivot_copy['stay_id'].isin(vanco_patient_stays)].copy()
df_patient_input_copy['event_type'] = 'medication'
df_patient_input_copy['rel_time'] = df_patient_input_copy['vanco_start_rel']

# 2. 纵向合并
# concat 会保留两表所有的列。
# 给药行在 'vanco_level', 'creatinine' 等列会显示 NaN；
# 化验行在 'totalamount_mg' 等列会显示 NaN。
df_combined = pd.concat([df_patient_input_copy, lab_pivot_copy_filtered], axis=0, ignore_index=True)

# 3. 按病人 ID 和相对时间排序，生成真实的临床轨迹
# 这样你就得到了每个病人：化验 -> 给药 -> 再化验 -> 再给药 的序列
df_combined = df_combined.sort_values(['stay_id', 'rel_time']).reset_index(drop=True)
static_cols = ['subject_id', 'hadm_id', 'gender', 'anchor_age', 'patientweight', 'intime', 'outtime']
df_combined[static_cols] = df_combined.groupby('stay_id')[static_cols].ffill()
df_combined[static_cols] = df_combined.groupby('stay_id')[static_cols].bfill()

df_combined

,subject_id,hadm_id,stay_id,starttime,itemid,patientweight,intime,vanco_start_rel,vanco_end_rel,totalamount_mg,outtime,gender,anchor_age,event_type,rel_time,charttime,creatinine,bun,vanco_level,wbc
0,10018423,29366372.0,30665396,NaT,NaN,107.0,2167-05-05 12:54:06,NaN,NaN,NaN,2167-05-06 18:40:10,M,37.0,lab,5.048333,2167-05-05 17:57:00,NaN,NaN,NaN,15.6
1,10018423,29366372.0,30665396,NaT,NaN,107.0,2167-05-05 12:54:06,NaN,NaN,NaN,2167-05-06 18:40:10,M,37.0,lab,6.598333,2167-05-05 19:30:00,1.0,14.0,NaN,16.2
2,10018423,29366372.0,30665396,2167-05-05 22:18:00,225798.0,107.0,2167-05-05 12:54:06,9.398333,9.415000,1500.0,2167-05-06 18:40:10,M,37.0,medication,9.398333,NaT,NaN,NaN,NaN,NaN
3,10018423,29366372.0,30665396,NaT,NaN,107.0,2167-05-05 12:54:06,NaN,NaN,NaN,2167-05-06 18:40:10,M,37.0,lab,14.048333,2167-05-06 02:57:00,1.0,12.0,NaN,8.8
4,10018423,29366372.0,30665396,2167-05-06 07:48:00,225798.0,107.0,2167-05-05 12:54:06,18.898333,18.915000,1500.0,2167-05-06 18:40:10,M,37.0,medication,18.898333,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,10010867,22429197.0,39880770,NaT,NaN,120.0,2147-12-30 09:33:00,NaN,NaN,NaN,2148-01-08 18:14:21,F,28.0,lab,197.050000,2148-01-07 14:36:00,NaN,NaN,9.5,NaN
1104,10010867,22429197.0,39880770,2148-01-07 17:23:00,225798.0,120.0,2147-12-30 09:33:00,199.833333,199.850000,1500.0,2148-01-08 18:14:21,F,28.0,medication,199.833333,NaT,NaN,NaN,NaN,NaN
1105,10010867,22429197.0,39880770,2148-01-08 01:15:00,225798.0,120.0,2147-12-30 09:33:00,207.700000,207.716667,1500.0,2148-01-08 18:14:21,F,28.0,medication,207.700000,NaT,NaN,NaN,NaN,NaN
1106,10010867,22429197.0,39880770,NaT,NaN,120.0,2147-12-30 09:33:00,NaN,NaN,NaN,2148-01-08 18:14:21,F,28.0,lab,208.250000,2148-01-08 01:48:00,0.5,9.0,NaN,10.4
1107,10010867,22429197.0,39880770,2148-01-08 08:59:00,225798.0,120.0,2147-12-30 09:33:00,215.433333,215.450000,1500.0,2148-01-08 18:14:21,F,28.0,medication,215.433333,NaT,NaN,NaN,NaN,NaN

In [216]:
df_combined[df_combined['stay_id'] == 30665396]

,subject_id,hadm_id,stay_id,starttime,itemid,patientweight,intime,vanco_start_rel,vanco_end_rel,totalamount_mg,outtime,gender,anchor_age,event_type,rel_time,charttime,creatinine,bun,vanco_level,wbc
0,10018423,29366372.0,30665396,NaT,NaN,107.0,2167-05-05 12:54:06,NaN,NaN,NaN,2167-05-06 18:40:10,M,37.0,lab,5.048333,2167-05-05 17:57:00,NaN,NaN,NaN,15.6
1,10018423,29366372.0,30665396,NaT,NaN,107.0,2167-05-05 12:54:06,NaN,NaN,NaN,2167-05-06 18:40:10,M,37.0,lab,6.598333,2167-05-05 19:30:00,1.0,14.0,NaN,16.2
2,10018423,29366372.0,30665396,2167-05-05 22:18:00,225798.0,107.0,2167-05-05 12:54:06,9.398333,9.415,1500.0,2167-05-06 18:40:10,M,37.0,medication,9.398333,NaT,NaN,NaN,NaN,NaN
3,10018423,29366372.0,30665396,NaT,NaN,107.0,2167-05-05 12:54:06,NaN,NaN,NaN,2167-05-06 18:40:10,M,37.0,lab,14.048333,2167-05-06 02:57:00,1.0,12.0,NaN,8.8
4,10018423,29366372.0,30665396,2167-05-06 07:48:00,225798.0,107.0,2167-05-05 12:54:06,18.898333,18.915,1500.0,2167-05-06 18:40:10,M,37.0,medication,18.898333,NaT,NaN,NaN,NaN,NaN
5,10018423,29366372.0,30665396,NaT,NaN,107.0,2167-05-05 12:54:06,NaN,NaN,NaN,2167-05-06 18:40:10,M,37.0,lab,24.248333,2167-05-06 13:09:00,0.8,13.0,NaN,NaN

# 重排列名

In [219]:
# 1. 定义你希望看到的列顺序逻辑
# 核心 ID 和时间
id_cols = ['subject_id', 'hadm_id', 'stay_id', 'rel_time', 'event_type']

# 给药相关 (Action)
action_cols = ['itemid', 'totalamount_mg', 'starttime', 'vanco_start_rel', 'vanco_end_rel']

# 化验指标 (State/Observation)
observation_cols = ['vanco_level', 'creatinine', 'wbc', 'bun', 'charttime', 'specimen_id']

# 静态特征
static_cols = ['gender', 'anchor_age', 'patientweight', 'intime', 'outtime']

# 2. 合并所有列名，并剔除可能不存在的列（防止报错）
all_ordered_cols = id_cols + action_cols + observation_cols + static_cols
existing_cols = [c for c in all_ordered_cols if c in df_combined.columns]

# 3. 补充那些没在列表里但在原表里的列（以防遗漏）
remaining_cols = [c for c in df_combined.columns if c not in existing_cols]

# 4. 执行重排
df_combined = df_combined[existing_cols + remaining_cols]

# 5. 排序确保时间线正确
df_combined = df_combined.sort_values(['stay_id', 'rel_time']).reset_index(drop=True)
df_combined

,subject_id,hadm_id,stay_id,rel_time,event_type,itemid,totalamount_mg,starttime,vanco_start_rel,vanco_end_rel,vanco_level,creatinine,wbc,bun,charttime,gender,anchor_age,patientweight,intime,outtime
0,10018423,29366372.0,30665396,5.048333,lab,NaN,NaN,NaT,NaN,NaN,NaN,NaN,15.6,NaN,2167-05-05 17:57:00,M,37.0,107.0,2167-05-05 12:54:06,2167-05-06 18:40:10
1,10018423,29366372.0,30665396,6.598333,lab,NaN,NaN,NaT,NaN,NaN,NaN,1.0,16.2,14.0,2167-05-05 19:30:00,M,37.0,107.0,2167-05-05 12:54:06,2167-05-06 18:40:10
2,10018423,29366372.0,30665396,9.398333,medication,225798.0,1500.0,2167-05-05 22:18:00,9.398333,9.415000,NaN,NaN,NaN,NaN,NaT,M,37.0,107.0,2167-05-05 12:54:06,2167-05-06 18:40:10
3,10018423,29366372.0,30665396,14.048333,lab,NaN,NaN,NaT,NaN,NaN,NaN,1.0,8.8,12.0,2167-05-06 02:57:00,M,37.0,107.0,2167-05-05 12:54:06,2167-05-06 18:40:10
4,10018423,29366372.0,30665396,18.898333,medication,225798.0,1500.0,2167-05-06 07:48:00,18.898333,18.915000,NaN,NaN,NaN,NaN,NaT,M,37.0,107.0,2167-05-05 12:54:06,2167-05-06 18:40:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,10010867,22429197.0,39880770,197.050000,lab,NaN,NaN,NaT,NaN,NaN,9.5,NaN,NaN,NaN,2148-01-07 14:36:00,F,28.0,120.0,2147-12-30 09:33:00,2148-01-08 18:14:21
1104,10010867,22429197.0,39880770,199.833333,medication,225798.0,1500.0,2148-01-07 17:23:00,199.833333,199.850000,NaN,NaN,NaN,NaN,NaT,F,28.0,120.0,2147-12-30 09:33:00,2148-01-08 18:14:21
1105,10010867,22429197.0,39880770,207.700000,medication,225798.0,1500.0,2148-01-08 01:15:00,207.700000,207.716667,NaN,NaN,NaN,NaN,NaT,F,28.0,120.0,2147-12-30 09:33:00,2148-01-08 18:14:21
1106,10010867,22429197.0,39880770,208.250000,lab,NaN,NaN,NaT,NaN,NaN,NaN,0.5,10.4,9.0,2148-01-08 01:48:00,F,28.0,120.0,2147-12-30 09:33:00,2148-01-08 18:14:21
1107,10010867,22429197.0,39880770,215.433333,medication,225798.0,1500.0,2148-01-08 08:59:00,215.433333,215.450000,NaN,NaN,NaN,NaN,NaT,F,28.0,120.0,2147-12-30 09:33:00,2148-01-08 18:14:21

# 最后联立 Chartevents

In [236]:
# 1. 确保时间格式
chart_features['vitaltime'] = pd.to_datetime(chart_features['charttime'])

# 2. 计算相对时间 rel_time
chart_features = pd.merge(chart_features, df_patient[['stay_id', 'intime']], on='stay_id', how='inner')
chart_features['rel_time'] = (chart_features['vitaltime'] - pd.to_datetime(chart_features['intime'])).dt.total_seconds() / 3600

# 3. 分别对数值和报警标志进行透视
# 透视数值 (valuenum)
vitals_values = chart_features.pivot_table(
    index=['subject_id', 'stay_id', 'rel_time', 'vitaltime'],
    columns='itemid',
    values='valuenum',
    aggfunc='mean'
).reset_index().rename(columns={223762: 'temperature', 220179: 'sbp', 220045: 'heart_rate'})

# 透视报警标志 (warning)
# 我们加上 _warn 后缀以区分
vitals_warns = chart_features.pivot_table(
    index=['subject_id', 'stay_id', 'rel_time', 'vitaltime'],
    columns='itemid',
    values='warning',
    aggfunc='max' # 如果同一时刻有多个记录，只要有一个报警就记为 1
).reset_index().rename(columns={223762: 'temp_warn', 220179: 'sbp_warn', 220045: 'hr_warn'})

# 4. 合并数值和报警标志列
chart_pivot = pd.merge(vitals_values, vitals_warns, on=['subject_id', 'stay_id', 'rel_time', 'vitaltime'])
chart_pivot['event_type'] = 'vitals'

vanco_patient_stays = df_combined_copy['stay_id'].unique()
chart_pivot_filtered = chart_pivot[chart_pivot['stay_id'].isin(vanco_patient_stays)].copy()

chart_pivot_filtered

itemid,subject_id,stay_id,rel_time,vitaltime,heart_rate,sbp,temperature,hr_warn,sbp_warn,temp_warn,event_type
0,10001217,37067082,0.016111,2157-11-20 19:19:00,86.0,151.0,NaN,0.0,0.0,NaN,vitals
1,10001217,37067082,0.699444,2157-11-20 20:00:00,91.0,143.0,NaN,0.0,0.0,NaN,vitals
2,10001217,37067082,1.699444,2157-11-20 21:00:00,95.0,142.0,NaN,0.0,0.0,NaN,vitals
3,10001217,37067082,2.699444,2157-11-20 22:00:00,102.0,137.0,NaN,0.0,0.0,NaN,vitals
4,10001217,37067082,3.699444,2157-11-20 23:00:00,106.0,134.0,NaN,0.0,0.0,NaN,vitals
...,...,...,...,...,...,...,...,...,...,...,...
17729,10040025,36107367,153.195278,2148-01-30 14:02:00,NaN,113.0,NaN,NaN,0.0,NaN,vitals
17730,10040025,36107367,154.161944,2148-01-30 15:00:00,83.0,NaN,NaN,0.0,NaN,NaN,vitals
17731,10040025,36107367,154.195278,2148-01-30 15:02:00,NaN,116.0,NaN,NaN,0.0,NaN,vitals
17732,10040025,36107367,155.161944,2148-01-30 16:00:00,79.0,NaN,NaN,0.0,NaN,NaN,vitals
17733,10040025,36107367,155.195278,2148-01-30 16:02:00,NaN,95.0,NaN,NaN,0.0,NaN,vitals

In [237]:
chart_pivot_copy = chart_pivot_filtered
df_combined_copy = df_combined

df_combined_v3 = pd.concat([df_combined_copy, chart_pivot_copy], axis=0, ignore_index=True)
df_combined_v3 = df_combined_v3.sort_values(['stay_id', 'rel_time']).reset_index(drop=True)

# 3. 补全静态特征与基本信息
# 确保新加入的 vitals 行也拥有背景数据
static_cols = ['subject_id', 'hadm_id', 'gender', 'anchor_age', 'patientweight', 'intime']
df_combined_v3[static_cols] = df_combined_v3.groupby('stay_id')[static_cols].ffill()
df_combined_v3[static_cols] = df_combined_v3.groupby('stay_id')[static_cols].bfill()

df_combined_v3

,subject_id,hadm_id,stay_id,rel_time,event_type,itemid,totalamount_mg,starttime,vanco_start_rel,vanco_end_rel,...,patientweight,intime,outtime,vitaltime,heart_rate,sbp,temperature,hr_warn,sbp_warn,temp_warn
0,10018423,29366372.0,30665396,5.048333,lab,NaN,NaN,NaT,NaN,NaN,...,107.0,2167-05-05 12:54:06,2167-05-06 18:40:10,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,10018423,29366372.0,30665396,6.348333,vitals,NaN,NaN,NaT,NaN,NaN,...,107.0,2167-05-05 12:54:06,NaN,2167-05-05 19:15:00,98.0,NaN,NaN,0.0,NaN,NaN
2,10018423,29366372.0,30665396,6.365000,vitals,NaN,NaN,NaT,NaN,NaN,...,107.0,2167-05-05 12:54:06,NaN,2167-05-05 19:16:00,97.0,NaN,NaN,0.0,NaN,NaN
3,10018423,29366372.0,30665396,6.598333,lab,NaN,NaN,NaT,NaN,NaN,...,107.0,2167-05-05 12:54:06,2167-05-06 18:40:10,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,10018423,29366372.0,30665396,6.598333,vitals,NaN,NaN,NaT,NaN,NaN,...,107.0,2167-05-05 12:54:06,NaN,2167-05-05 19:30:00,94.0,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13340,10010867,22429197.0,39880770,221.466667,vitals,NaN,NaN,NaT,NaN,NaN,...,120.0,2147-12-30 09:33:00,NaN,2148-01-08 15:01:00,NaN,138.0,NaN,NaN,0.0,NaN
13341,10010867,22429197.0,39880770,222.450000,vitals,NaN,NaN,NaT,NaN,NaN,...,120.0,2147-12-30 09:33:00,NaN,2148-01-08 16:00:00,89.0,NaN,NaN,0.0,NaN,NaN
13342,10010867,22429197.0,39880770,222.483333,vitals,NaN,NaN,NaT,NaN,NaN,...,120.0,2147-12-30 09:33:00,NaN,2148-01-08 16:02:00,NaN,151.0,NaN,NaN,0.0,NaN
13343,10010867,22429197.0,39880770,223.450000,vitals,NaN,NaN,NaT,NaN,NaN,...,120.0,2147-12-30 09:33:00,NaN,2148-01-08 17:00:00,101.0,NaN,NaN,0.0,NaN,NaN
13344,10010867,22429197.0,39880770,223.483333,vitals,NaN,NaN,NaT,NaN,NaN,...,120.0,2147-12-30 09:33:00,NaN,2148-01-08 17:02:00,NaN,120.0,NaN,NaN,0.0,NaN

In [238]:
df_combined_v3.to_excel('rawdata.xlsx')